

/*  CSS Custom Styles */

.input-style {
	
border:1px solid black;
border-radius:5px;
padding:5px;
width:300px;

}

.button-style {
	
border:1px solid black;
border-radius:5px;
padding:6px;

}

